section.section1 {background-color: #33ffb2; visibility: hidden; position: absolute; top: 130px; left: 10px; width: 600px; overflow: scroll;}

#section1picture {height: 200px; width: 300px; display: block; margin: auto}

section.section2 {background-color: #f6ff33; visibility: hidden; position: absolute; top: 130px; left: 10px; width: 600px; overflow: scroll;}

#section2picture {height: 200px; width: 300px; display: block; margin: auto;}

h2 { font-family: sans-serif; text-align: center; font-weight: bold; color: #8B0000;}

footer {position: relative; top: 425px; right: 0; bottom: 0; left: 0; background-color: #FFFFFF; text-align: center; font-style: italic;}

