section.section1 {background-color: #33ffb2; visibility: hidden; position: absolute; top: 130px; left: 10px; width: 600px; overflow: scroll;}

#section1picture {height: 350px; width: 500px; display: block; margin: auto}

section.section2 {background-color: #f6ff33; visibility: hidden; position: absolute; top: 130px; left: 10px; width: 600px; overflow: scroll;}

#section2picture {height: 350px; width: 500px; display: block; margin: auto;}

h2 { font-family: sans-serif; text-align: center; font-weight: bold; color: #8B0000;}

body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#content {
	padding-bottom:100px; 
}
#footer {
	background:#ffffff;
	width:100%;
	height:auto;
	position: absolute;
	top: 100%;
	left:0;
	text-align: center;
	font-style: italic;
}

